/* About */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "bread bread bread bread"
    "content1 content1 content2 content2";
}

.breadcrumbs {
  grid-area: bread;
}

.large-image {
  grid-area: content1;
  background: url("../images/about-us.jpeg") center no-repeat;
  background-size: cover;
  margin: 0px 30px 60px 60px;
}

.about-content2 {
  grid-area: content2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item3 item3";
  gap: 2em;
  margin: 0px 60px 60px 30px;
}

.about-content2-item1 {
  grid-area: item1;
}

.about-content2-item2 {
  grid-area: item2;
}

.about-content2-item3 {
  grid-area: item3;
}

footer {
  grid-area: footer;
}
