/* Checkout styling */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "bread bread bread bread"
    "content1 content1 content2 content2";
}

.checkout-state {
  grid-area: bread;
  font-size: 2em;
  margin: 60px auto;
}

.checkout-state li {
  display: inline;
  margin-left: 100px;
}

.checkout-content1 {
  grid-area: content1;
  margin: 0px 20px;
}

.checkout-content1 h1 {
  font-size: 1.5em;
  margin: 0px 0px 10px 0px;
}

.chart-empty-content1-items p,
.chart-content1-items p {
  text-transform: uppercase;
}

.chart-empty-content1-items,
.chart-content1-items,
.chart-delivery-content1-items,
.checkout-delivery-options {
  border: 1px solid #0a3641;
}

.checkout-content2 {
  grid-area: content2;
  margin: 0px 20px;
}

.checkout-form {
  font-size: 1.5em;
  display: flex;
  text-align: left;
  margin-bottom: 40px;
}

.checkout-form > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.checkout-form input {
  background-color: #f2f2f2;
  border: 2px solid #e2e2e2;
  border-radius: 1px;
  margin: 15px 15px 15px 0px;
  padding: 10px 10px 10px 0px;
  font-size: 1em;
}

footer {
  grid-area: footer;
}

/* Checkout empty*/

.chart-empty-content1-items p {
  font-size: 2em;
  text-align: center;
  margin: 180px 0px;
}

/* Checkout chart*/

.chart-content1-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.chart-content1-items > * {
  flex: 1;
  margin: 20px auto 200px auto;
}

.checkout-product {
  display: flex;
  align-items: center;
}

/* Checkout Delivery */

.chart-delivery-content1-items {
  padding: 10px 5px 100px 5px;
}
.chart-delivery-content1-items p,
.checkout-delivery-content2-items p {
  margin-top: 5px;
}

.checkout-delivery-content2-items {
  display: flex;
  text-align: left;
  gap: 20px;
}

.checkout-delivery-content2-items > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.checkout-delivery-content2-items h2 {
  font-size: 1.5em;
  margin: 0px 0px 10px 0px;
}

.checkout-delivery-options {
  padding: 10px 5px 0px 5px;
}

.checkout-delivery-options .fa {
  font-size: 4em;
  margin-top: 106px;
}

/* Checkout Payment */

.checkout-payment-form-content {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
