/* Confirmation */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

main > * {
  max-width: 600px;
  margin: auto;
}

.confirm-icon {
  font-size: 15em;
  color: #6c7259;
}

main h1 {
  padding: 20px 0px;
}

main p {
  font-size: 1.5em;
  padding-bottom: 60px;
}

main a {
  padding: 20px 0px;
}

footer {
  grid-area: footer;
}
