/* Home */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "bread bread bread bread"
    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "content3 content3 content3 content3"
    "content4 content4 content4 content4";
}

main > * {
  margin: 60px 60px;
}

.large-image {
  grid-area: content1;
  background: url("../images/hiking.jpeg") center no-repeat;
  background-size: cover;
}

.jackets-list-content {
  grid-area: content2;
}

.home-about-us {
  grid-area: content3;
  background: url("/images/kayaking.jpeg") center no-repeat;
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

.home-about-us-item {
  position: relative;
  text-align: center;
  top: 150px;
}

.home-about-us-item h2 {
  font-size: 4em;
  color: #f2f2f2;
  text-shadow: 1px 1px 5px #000000;
  margin-bottom: 40px;
}

.home-contact-us {
  grid-area: content4;
  display: flex;
  gap: 2em;
}

.home-contact-us * {
  flex: 1;
}

.home-contact-us h2 {
  font-size: 3em;
  margin: 0px;
}

.home-contact-us p {
  margin: 20px 0px 60px 0px;
}

footer {
  grid-area: footer;
}
