/* Jacket */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "bread bread bread bread"
    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "footer footer footer footer";
}

main > * {
  margin: 60px 60px;
}

.breadcrumbs {
  grid-area: bread;
}

.jacket-specific {
  grid-area: content1;
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 20px;
}

.jacket-specific > * {
  flex: 1;
}

.jacket-specific-images {
  display: flex;
  gap: 2em;
}

.jacket-image {
  border: 1px solid var(--color-text-boarder);
}

.jacket-image-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.jacket-specific-details h1,
.jacket-specific-details h2 {
  text-transform: uppercase;
  margin: 0px;
}

.jacket-specific-details h2 {
  color: #6a7356;
}

.size {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 60px;
}

.size p {
  margin: 0px;
  text-transform: capitalize;
}

.size-items {
  margin-left: 20px;
}

.size-items > * {
  padding-left: 20px;
  padding-right: 20px;
}

.related-list-content {
  grid-area: content2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.related-list-content h2 {
  grid-column: -1/1;
  margin: 0px;
}

.related-list-content h3 {
  margin: 0px;
}

.related-list-content hp {
  margin-top: 10px;
}

.related-list-content-items {
  text-transform: uppercase;
}

footer {
  grid-area: footer;
}
