@import "imports/links.css";
@import "imports/variables.css";

/* General styling */
body {
  font-family: var(--font), Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-boarder);
  text-align: left;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: auto 1fr auto;
}

/* Fonts */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

/* Header */

header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-text-boarder);
  font-size: 2em;
}

.logo {
  width: 100px;
  margin-left: 60px;
  margin-right: 60px;
}

nav {
  flex: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}

/* Icons */

.icons .fa {
  font-size: 3em;
  padding-right: 20px;
  transition: all 0.3s ease;
}

.header-icons {
  margin-right: 60px;
}

.header-icons .fa {
  padding-left: 20px;
}

.checkout-icon {
  font-size: 1.5em;
}

/* Images */

img {
  width: 100%;
  height: auto;
}

.large-image,
.large-image-women,
.large-image-men {
  background-size: cover;
  height: 50vh;
  position: relative;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 60px 0px 0px 60px;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: ">";
  margin: 0px 5px;
  color: var(--color-text-boarder);
}

/* Hover */
.icons .fa:hover {
  font-size: 3.5em;
}

.checkout-icon {
  font-size: 1.5em;
}

.jackets-list-content img:hover {
  box-shadow: 10px 10px 30px var(--color-text-boarder);
}

/* Contact form */
.contact-form {
  font-size: 1.5em;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background-color: var(--color-background);
  border: 2px solid #e2e2e2;
  border-radius: 1px;
  margin: 15px 15px 15px 0px;
  padding: 10px 10px 10px 0px;
  font-size: 1em;
}

/* Jackets list */
.jackets-list-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.jackets-list-content h1 {
  grid-column: -1/1;
  margin: 0px;
}

.jackets-list-content h2 {
  margin: 0px;
}

.jackets-list-content h3 {
  margin-top: 10px;
}

.jackets-list-content-items {
  text-transform: uppercase;
}

/* Order by box */

.order-by-select {
  grid-column: 4;
  margin-bottom: 20px;
}

.order-by-box,
.order-by-box-checkout {
  font-family: var(--font), Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  background-color: #f2f2f2;
  color: var(--color-text-boarder);
  border: 1px solid var(--color-text-boarder);
  padding: 20px;
}

.order-by-box-checkout {
  font-size: 1em;
  text-transform: uppercase;
}

/* Footer */
footer {
  background-color: #0a3641;
  margin-top: 60px;
}

footer h2 {
  margin: 0px 0px 20px 0px;
}

footer a {
  display: block;
  float: left;
  padding: 0px 0px 20px 0px;
}

.footer-content1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e2e2e2;
  text-align: left;
  padding: 40px 20px;
  grid-gap: 4em;
}

.footer-item1,
.footer-item3,
.footer-item4 {
  display: flex;
  flex-direction: column;
}

.footer-content2 {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

ul {
  padding: 0px;
}
