body {
  font-family: "DIN Alternate", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2f2f2;
  color: #0a3641;
  min-height: 100vh;
  margin: 0;
}

/* Fonts */

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

/* Header */

header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid #0a3641;
  font-size: 2em;
}

.logo {
  width: 100px;
  margin: 0px 20px;
}

nav {
  flex: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

ul {
  padding: 0px;
}

/* Icons */

.icons {
  font-size: 3em;
}

.header-icons {
  padding: 0px 20px;
}

/* Breadcrumb */
.breadcrumbs {
  margin: 60px 0px 0px 20px;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: ">";
  margin: 0px 5px;
  color: #0a3641;
}

/* Links */
a {
  text-decoration: none;
  color: #0a3641;
}

.underline {
  text-decoration: underline solid 4px #f2c75c;
}

.cta {
  background-color: #f2c75c;
  color: #0a3641;
  font-size: 1.5em;
  padding: 20px 60px;
}

.cta-contact-form {
  background-color: #f2c75c;
  color: #0a3641;
  font-size: 1em;
  padding: 20px 60px;
}

/* Hover */
a:hover {
  text-decoration: underline solid 4px #f2c75c;
  color: #0a3641;
}

.cta:hover {
  background-color: #0a3641;
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 20px 60px;
  text-decoration: none;
}

.cta-contact-form:hover {
  background-color: #0a3641;
  color: #f2f2f2;
  font-size: 1em;
  padding: 20px 60px;
  text-decoration: none;
}

.new-arrivals img:hover {
  box-shadow: 1px 1px 5px #000000;
}

/* Contact form */
.contact-form {
  font-size: 1.5em;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  background-color: #f2f2f2;
  border: 2px solid #e2e2e2;
  border-radius: 1px;
  margin: 15px 15px 15px 0px;
  padding: 10px 10px 10px 0px;
  font-size: 1em;
}

/* Order by box */
.order-by-box {
  padding: 20px;
  font-family: "DIN Alternate", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  background-color: #f2f2f2;
  color: #0a3641;
  border: 1px solid #0a3641;
}

/* Footer */
footer {
  background-color: #0a3641;
}

footer h2 {
  margin: 0px 0px 20px 0px;
}

footer a {
  display: block;
  float: left;
  padding: 0px 0px 20px 0px;
}

.footer-content1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e2e2e2;
  text-align: left;
  padding: 40px 20px;
  grid-gap: 4em;
}

.footer-item1,
.footer-item3,
.footer-item4 {
  display: flex;
  flex-direction: column;
}

.footer-content2 {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
}
