@import "imports/links.css";
@import "imports/new.css";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: var(--light);
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.content {
  flex: 1 0 auto;
}

.header-image {
  height: 400px;
  background-image: url(/images/hiking.jpg);
  background-size: cover;
}

.products-container {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 300px;
  margin: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}

.card a.details {
  margin-top: 0.5em;
  background-color: grey;
  color: white;
}

.card a.details:hover {
  background-color: grey;
  color: white;
}

.card div.details {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.image {
  height: 400px;
  background-size: cover;
  background-position: center top;
}
