/* Women */
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "bread bread bread bread"
    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "content3 content3 content3 content3";
}

.breadcrumbs {
  grid-area: bread;
}

.large-image-women {
  grid-area: content1;
  background: url("../images/women.jpeg") center no-repeat;
}

.large-image-men {
  grid-area: content1;
  background: url("../images/men.jpeg") center no-repeat;
}

.order-by-select {
  grid-area: content2;
}

.jackets-list-content {
  grid-area: content3;
}

footer {
  grid-area: footer;
}
