/* Links */
a {
  text-decoration: none;
  color: #0a3641;
}

.underline {
  text-decoration: underline solid 4px #f2c75c;
}

.cta,
.cta-contact-form {
  font-family: var(--font), Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2c75c;
  color: #0a3641;
  padding: 20px 60px;
  border: none;
  transition: all 0.3s ease;
}

.cta {
  font-size: 1.5em;
}

/* Links hover */
a:hover {
  text-decoration: underline solid 4px #f2c75c;
  color: #0a3641;
}

.cta:hover,
.cta-contact-form:hover {
  font-family: var(--font), Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0a3641;
  color: #f2f2f2;
  padding: 20px 60px;
  text-decoration: none;
  border: none;
}

.cta:hover {
  font-size: 1.5em;
}
